config/import.ini
loggerfile.log
.idea/vcs.xml
.idea/other.xml
.idea/nerc-importer.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dataSources.xml
__pycache__/sql_nerc.cpython-37.pyc
loggerfile.log
loggerfile.log
__pycache__/sql_nerc.cpython-36.pyc
loggerfile.log
downloads/P01.xml
.idea/dataSources.local.xml
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18.xml
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18/storage_v2/_src_/database/pangaea_db.Ko-1pA.meta
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/public.abK9xQ.meta
.idea/dataSources/0313e4d6-c561-43a6-abae-777497b91e18/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/public.abK9xQ.zip
.idea/workspace.xml
.idea/dataSources/1289df6c-5acc-4e13-90d9-6e03d2ac1f1d.xml
.idea/dataSources/1289df6c-5acc-4e13-90d9-6e03d2ac1f1d/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/public.abK9xQ.meta
*.zip
*.xml
.idea/dataSources/2229a1f3-e00a-46bc-a884-a39529fd26b9/storage_v2/_src_/database/pangaea_db.Ko-1pA.meta
.idea/dataSources/2229a1f3-e00a-46bc-a884-a39529fd26b9/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/2229a1f3-e00a-46bc-a884-a39529fd26b9/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/2229a1f3-e00a-46bc-a884-a39529fd26b9/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/2229a1f3-e00a-46bc-a884-a39529fd26b9/storage_v2/_src_/database/pangaea_db.Ko-1pA/schema/public.abK9xQ.meta
logs/nerc_importer.log
